@import "base/reset", "base/typography";

@import "partials/variables", "partials/layout", "partials/mixins";

@import "components/ui-elements";

@import "layout/header", "layout/footer";

@import "sections/faqs", "sections/newsletter", "sections/categories",
  "sections/why-us", "sections/how-it-works", "sections/hero",
  "sections/get-verified-answers", "sections/become-an-expert",
  "sections/discover-career-prospect", "sections/world-class-expert";

body {
  font-family: $font-primary;
  color: $dark-grey-color;
}
/* h1 {
  @include font-size(70px);
}
h2 {
  @include font-size(60px);
}
h3 {
  @include font-size(40px);
}
h1 {
  @include font-size(30px);
}
h2 {
  @include font-size(20px);
}
h3 {
  @include font-size(10px);
} */

p {
  @include font-size(20px);
  @include breakpoint(lp) {
    @include font-size(16px);
  }
  @include breakpoint(sm) {
    @include font-size(14px);
  }
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}
.wow {
  visibility: hidden;
}
@include breakpoint(sm) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}

main {
  @include padding(0, 0, 0, 0);

  @include breakpoint(sm) {
    @include padding(0, 0, 0, 0);
  }
}

.bg-white {
  background: $white-color;
}
.bg-light-grey {
  background: rgba($black-color, 0.04) !important;
}
.text-bold {
  font-weight: 700;
}
.text-white {
  color: $white-color;
}
.text-black {
  color: $brand-color;
}
.text-blue {
  color: $brand-second-color;
}
.nopadding {
  @include padding(0, 0, 0, 0);
}
.nomargin {
  @include margin(0, 0, 0, 0);
}

section {
  @include padding(0, 0, 0, 0);
  .title-head {
    @include flex-center;
    flex-direction: column;
    text-align: center;

    .main-title {
      color: $dark-grey-color;
      @include font-size(60px);
      @include margin(0, 0, 0, 0);
      font-weight: 700;

      @include breakpoint(lp) {
        @include font-size(50px);
      }

      @include breakpoint(sm) {
        @include font-size(35px);
      }
      @include breakpoint(md) {
        @include font-size(35px);
      }
    }
    .sub-title {
      @include font-size(20px);

      @include breakpoint(lp) {
        @include font-size(16px);
      }

      @include breakpoint(sm) {
        @include font-size(15px);
      }
      @include breakpoint(md) {
        @include font-size(15px);
      }
    }
  }
}

#fp-nav ul li .fp-tooltip {
  background: $dark-grey-color;
  color: $white-color !important;
  font-size: 12px;
  top: -8px;
  @include border-radius(5px);
  @include padding(5px, 10px, 5px, 10px);
}
#fp-nav ul,
.fp-slidesNav ul {
  li {
    &:last-child {
      display: none;
    }
  }
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  @include breakpoint(sm) {
    background: rgba($black-color, 0.2);
  }
}
#fp-nav ul li a.active span {
  @include breakpoint(sm) {
    background: rgba($black-color, 0.9);
  }
}
#fp-nav.right {
  @include breakpoint(sm) {
    right: 0 !important;
  }
}

.fp-scrollable {
  overflow: hidden;
  position: relative;
}
.fp-scroller {
  overflow: hidden;
}

.column-reverse {
  @include breakpoint(sm) {
    flex-direction: column-reverse;
  }
}
