* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none !important;
}

body {
  margin: 0px;
  padding: 0px;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0px;
  padding: 0px;
}

ol,
ul,
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: block;
}

ol li,
ul li,
li li {
  list-style-type: none;
}

ol li a,
ul li a,
li li a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #00BAB4;
}

a:hover {
  color: #483a3b;
}

button {
  outline: none !important;
  cursor: pointer;
  background: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:hover,
a:focus {
  text-decoration: none;
}

a img {
  border: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

img {
  border: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

label {
  font-weight: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: local("Open Sans Regular"), local("Open Sans Regular"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* respo */
/* clearfix */
.button-outer {
  padding-top: 17px;
  padding-right: 50px;
  padding-bottom: 17px;
  padding-left: 50px;
  font-size: 18px;
  font-size: 1.125rem;
  color: #000;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  text-transform: capitalize;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* &:hover {
    @include button-hover();
  } */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .button-outer {
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 40px;
    font-size: 16px;
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .button-outer {
    padding-top: 12px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;
    font-size: 16px;
    font-size: 1rem;
  }
}

.button--blue {
  background: -webkit-gradient(linear, left top, right top, from(#2D2D2D), color-stop(50%, #2D2D2D), color-stop(50%, #3399fe), to(#3399fe));
  background: linear-gradient(90deg, #2D2D2D 0%, #2D2D2D 50%, #3399fe 50%, #3399fe 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: right bottom;
  color: #fff;
}

.button--blue:hover {
  background-position: left bottom;
}

.button--blue:hover {
  color: #fff;
}

.button--white {
  background: -webkit-gradient(linear, left top, right top, from(#2D2D2D), color-stop(50%, #2D2D2D), color-stop(50%, #fff), to(#fff));
  background: linear-gradient(90deg, #2D2D2D 0%, #2D2D2D 50%, #fff 50%, #fff 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: right bottom;
  color: #3399fe;
}

.button--white:hover {
  background-position: left bottom;
}

.button--white:hover {
  color: #fff;
}

header nav {
  /* Landscape phones and down */
  /* Landscape phones and down */
}

header nav.navbar {
  width: 100%;
  padding-top: 40px;
  padding-right: 100px;
  padding-bottom: 30px;
  padding-left: 100px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav.navbar {
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav.navbar {
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
  }
}

header nav .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header nav .navbar-nav .nav-item:nth-of-type(3) {
  margin-left: auto;
}

header nav .navbar-nav .nav-link {
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: capitalize;
  color: #fff !important;
  padding: 0 0 0 0 !important;
  position: relative;
  margin-top: 0;
  margin-right: 40px;
  margin-bottom: 0;
  margin-left: 0;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* Landscape phones and down */
}

header nav .navbar-nav .nav-link::before {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background: #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  content: "";
}

@media (min-width: 1025px) and (max-width: 1645px) {
  header nav .navbar-nav .nav-link {
    font-size: 16px;
    font-size: 1rem;
  }
}

header nav .navbar-nav .nav-link:hover {
  color: #000 !important;
}

header nav .navbar-nav .nav-link:hover::before {
  width: 15px;
}

@media (max-width: 767px) {
  header nav .navbar-collapse {
    background: #fff;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: relative;
    margin-top: 20px;
  }
  header nav .navbar-collapse:before {
    bottom: 100%;
    right: 5%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 8px;
    margin-left: -8px;
  }
  header nav .navbar-collapse .nav-link {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
    color: #000 !important;
  }
  header nav .navbar-collapse .nav-link:nth-of-type(2) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  header nav .header-right {
    position: absolute;
    right: 70px;
    top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav .header-right .nav-link {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 14px;
    font-size: 0.875rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav .navbar-collapse {
    background: #fff;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: relative;
    margin-top: 20px;
  }
  header nav .navbar-collapse:before {
    bottom: 100%;
    right: 2%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 8px;
    margin-left: -8px;
  }
}

header .logo {
  background: url("../images/logo.png") no-repeat;
  width: 201px;
  height: 75px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-size: 201px 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 0;
  margin-right: 140px;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  header .logo {
    width: 101px;
    height: 37px;
    background-size: 101px 37px;
  }
}

@media (max-width: 767px) {
  header .logo {
    width: 101px;
    height: 37px;
    background-size: 101px 37px;
  }
}

.icon-bar {
  width: 26px;
  height: 3px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background-color: #fff;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 4px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
  position: absolute;
  right: 25px;
  top: 30px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbar-toggler {
    right: 42px;
  }
}

.navbar-toggler:focus {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler .top-bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

footer {
  background: #3399fe url(../images/footer-pattern.svg) no-repeat;
  background-position: -20px 0;
  background-size: 100%;
  padding: relative;
}

footer .footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-left .footer-logo {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 35px;
  margin-left: 0;
  display: inline-block;
}

footer .footer-left .footer-logo img {
  width: 30%;
}

footer .footer-left .contact-info {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 100px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-left .contact-info {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

footer .footer-left .contact-info h3 {
  color: #fff;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-size: 15px;
  font-size: 0.9375rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

footer .footer-left .contact-info a {
  color: #fff;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  font-size: 22px;
  font-size: 1.375rem;
  display: inline-block;
}

footer .footer-left .contact-info .phone-no {
  position: relative;
  color: #fff;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  font-size: 15px;
  font-size: 0.9375rem;
}

footer .footer-left .contact-info .phone-no::before {
  width: 40px;
  height: 1px;
  background: #fff;
  content: "";
  top: -20px;
  position: absolute;
}

footer .footer-left .footer-link h3 {
  color: #fff;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  font-size: 15px;
  font-size: 0.9375rem;
  position: relative;
}

footer .footer-left .footer-link h3::before {
  width: 40px;
  height: 1px;
  background: #fff;
  content: "";
  bottom: -20px;
  position: absolute;
}

footer .footer-left .footer-link .links-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
  position: relative;
}

footer .footer-left .footer-link .links-group .links-item {
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: 0;
}

footer .footer-left .footer-link .links-group .links-item .link {
  font-size: 14px;
  font-size: 0.875rem;
  color: #fff;
  position: relative;
}

footer .footer-left .footer-link .links-group .links-item .link:hover {
  color: #2D2D2D;
}

footer .footer-bg {
  position: absolute;
  bottom: 80px;
  width: 30%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-bg {
    bottom: 120px;
    width: 70%;
  }
}

footer .footer-bg img {
  width: 100%;
}

footer .follow-us {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
  position: relative;
}

footer .follow-us h3 {
  color: #fff;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 16px;
  font-size: 1rem;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  white-space: nowrap;
}

footer .follow-us ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

footer .follow-us ul li {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
}

footer .follow-us ul li a {
  color: #fff;
}

footer .footer-bottom {
  background: #2D2D2D;
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  padding-top: 30px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-bottom {
    height: 120px;
  }
}

footer .footer-bottom .copyright-text {
  font-size: 14px;
  font-size: 0.875rem;
  color: #fff;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-bottom .copyright-text {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    text-align: center;
  }
}

footer .footer-bottom .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-bottom .links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .footer-bottom .links li {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

footer .footer-bottom .links li a {
  font-size: 14px;
  font-size: 0.875rem;
  color: #fff;
}

.scrollup {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  bottom: 40px;
  right: 40px;
  background: #3399fe;
  color: #fff;
  text-align: center;
  line-height: 50px;
  display: block;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .scrollup {
    right: 20px;
  }
}

.scrollup span.top-arrow {
  display: block;
  position: relative;
  top: 0px;
  margin: 5px auto 0;
}

.scrollup span .bi {
  font-size: 24px;
  font-size: 1.5rem;
}

.scrollup:hover {
  background: #FDFF11;
}

.scrollup:hover span.top-arrow {
  -webkit-animation: arrowMove 0.8s linear infinite;
}

@-webkit-keyframes arrowMove {
  0% {
    top: 0%;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0%;
  }
}

@keyframes arrowMove {
  0% {
    top: 0%;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0%;
  }
}

.faqs .accordion {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.faqs .accordion .accordion-item {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  background: none;
  border: 0;
}

.faqs .accordion .accordion-item .accordion-button {
  font-size: 24px;
  font-size: 1.5rem;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border: 1px solid #3399fe;
  font-weight: 700;
  border-bottom: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* &:focus {
                    box-shadow: none;
                    border: 0;
                } */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .faqs .accordion .accordion-item .accordion-button {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 25px;
    font-size: 20px;
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .faqs .accordion .accordion-item .accordion-button {
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 25px;
    font-size: 16px;
    font-size: 1rem;
  }
}

.faqs .accordion .accordion-item .accordion-button:after {
  background: url(../images/plus-lg.svg) no-repeat;
  background-size: 25px 25px;
  width: 25px;
  height: 25px;
}

.faqs .accordion .accordion-item .accordion-button.collapsed {
  border: 1px solid #000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.faqs .accordion .accordion-item .accordion-collapse {
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border: 1px solid #3399fe;
  border-top: 0;
}

.faqs .accordion .accordion-item .accordion-body {
  padding-top: 0;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}

.faqs .accordion .accordion-item .accordion-body p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .faqs .accordion .accordion-item .accordion-body p {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.faqs .accordion .accordion-item .accordion-body ul li {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 30px;
  position: relative;
  color: #2D2D2D;
  counter-increment: itemcounter;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .faqs .accordion .accordion-item .accordion-body ul li {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.faqs .accordion .accordion-item .accordion-body ul li::before {
  color: #2D2D2D;
  position: absolute;
  top: 0;
  left: 0;
  content: counters(itemcounter, ".");
}

.faqs .see-more-link {
  color: #3399fe;
  text-align: center;
  display: block;
  text-decoration: underline !important;
}

.faqs .see-more-link:hover {
  text-decoration: none;
}

.accordion-button:not(.collapsed)::after {
  background: url(../images/dash-lg.svg) no-repeat !important;
  background-size: 25px 25px !important;
  width: 25px !important;
  height: 25px !important;
  -webkit-transform: rotate(0) !important;
          transform: rotate(0) !important;
}

.accordion-button:not(.collapsed) {
  color: #3399fe;
}

.accordion-button:not(.collapsed):after {
  background: url(../images/dash-lg-active.svg) no-repeat !important;
  background-size: 25px 25px !important;
  width: 25px !important;
  height: 25px !important;
}

.newsletter .title-head .sub-title {
  font-size: 60px;
  font-size: 3.75rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  font-weight: 700;
  color: #3399fe;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .newsletter .title-head .sub-title {
    font-size: 40px;
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  .newsletter .title-head .sub-title {
    font-size: 25px;
    font-size: 1.5625rem;
  }
}

.newsletter label {
  font-weight: 700;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.newsletter .form-control {
  border: 1px solid #2D2D2D;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  height: 60px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .newsletter .form-control {
    height: 48px;
  }
}

@media (max-width: 767px) {
  .newsletter .form-control {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.newsletter .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #3399fe;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.newsletter .button-outer {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .newsletter .button-outer {
    max-width: 100% !important;
  }
}

.categories {
  background: url(../images/categories-bg.png);
  background-size: cover;
  position: relative;
}

.categories .inner {
  top: 0;
  z-index: 9;
}

.categories .nav-tabs {
  border: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .categories .nav-tabs {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .categories .nav-tabs {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.categories .nav-tabs .nav-link {
  position: relative;
  background: none;
  border: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  color: #2D2D2D;
  font-size: 18px;
  font-size: 1.125rem;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .categories .nav-tabs .nav-link {
    font-size: 14px;
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
  }
}

.categories .nav-tabs .nav-link::before {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  height: 4px;
  width: 4px;
  content: "";
  position: absolute;
  left: 5px;
  top: 15px;
  background: #2D2D2D;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .categories .nav-tabs .nav-link::before {
    left: 0;
  }
}

.categories .nav-tabs .nav-link:hover {
  color: #3399fe;
}

.categories .nav-tabs .nav-link:hover::before {
  background: #3399fe;
}

.categories .nav-tabs .nav-link.active {
  background: #8496a8;
  color: #fff;
}

.categories .nav-tabs .nav-link.active::before {
  background: none;
}

.categories .tab-content .categories-group {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .categories .tab-content .categories-group {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .categories .tab-content .categories-group {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.categories .tab-content .categories-group__item {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .categories .tab-content .categories-group__item {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .categories .tab-content .categories-group__item {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 0;
  }
}

.categories .tab-content .categories-group__link {
  display: block;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border: 1px solid #2D2D2D;
  color: #2D2D2D;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-transform: capitalize;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .categories .tab-content .categories-group__link {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 13px;
    font-size: 0.8125rem;
  }
}

.categories .tab-content .categories-group__link:hover {
  background: #3399fe;
  border: 1px solid #3399fe;
  color: #fff;
}

#myVideo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.inner-content {
  z-index: 4;
  width: 100%;
  height: 20%;
  padding: 300px 100px;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.inner-content p {
  font-size: 36px;
  color: #262626;
  font-weight: bold;
  text-align: center;
}

.inner-content p.highlighted {
  color: #fff;
}

.why-us {
  background: #fafafa url(../images/pattern-why-clouyou.svg) no-repeat right bottom;
  background-size: 80%;
  position: relative;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .why-us {
    background-size: 100%;
  }
}

.why-us .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.why-us .caption .title-head {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  margin-left: 0;
  position: relative;
}

.why-us .caption .title-head::before {
  position: absolute;
  top: -150px;
  content: "";
  background: url(../images/quote-icon.svg) no-repeat;
  left: -100px;
  width: 138px;
  height: 111px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .why-us .caption .title-head::before {
    left: 9px;
    top: -95px;
    background-size: 70%;
    background: none;
  }
}

.why-us .caption p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.why-us .figure-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Landscape phones and down */
  /*  @include breakpoint(sm) {
            @include margin(0, 0, 0, 0);
            height: 200px;
            width: 200px;
            right: 20px;
            position: absolute;
            top: -200px;
            z-index: -1;
        } */
}

@media (max-width: 767px) {
  .why-us .figure-holder {
    height: 200px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.why-us .figure-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.info-cards {
  overflow: hidden;
}

.info-cards .custom-card {
  overflow: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .info-cards .custom-card {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

.info-cards .custom-card__figure-holder {
  background: #e8eaff;
  width: 198px;
  height: 198px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 35px;
  margin-left: 0;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
}

.info-cards .custom-card__figure-holder img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-cards .custom-card .caption {
  text-align: center;
  border: 0;
}

.info-cards .custom-card .caption__title {
  color: #2D2D2D;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.info-cards .custom-card .caption__detail {
  font-size: 20px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .info-cards .custom-card .caption__detail {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .info-cards .custom-card .caption__detail {
    font-size: 16px;
  }
}

.info-cards .custom-card:hover {
  -webkit-box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .info-cards .custom-card:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.hero {
  background: url(../images/hero-banner.png) center center;
  background-size: cover;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .hero {
    background-position: bottom center;
  }
}

.hero .left-content {
  background: rgba(51, 153, 254, 0.9);
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 0;
  padding-left: 100px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .hero .left-content {
    width: 100%;
    height: 60%;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
  }
}

.hero .left-content .main-caption {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .hero .left-content .main-caption {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.hero .left-content .main-caption small {
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.hero .left-content .main-caption h1 {
  font-weight: 700;
  font-size: 72px;
  font-size: 4.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .hero .left-content .main-caption h1 {
    font-size: 50px;
    font-size: 3.125rem;
  }
}

@media (max-width: 767px) {
  .hero .left-content .main-caption h1 {
    font-size: 28px;
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .hero .left-content .main-caption h1 {
    font-size: 32px;
    font-size: 2rem;
  }
}

.hero .left-content .main-caption p {
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .hero .left-content .main-caption p {
    font-size: 22px;
    font-size: 1.375rem;
  }
}

@media (max-width: 767px) {
  .hero .left-content .main-caption p {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .hero .left-content .main-caption p {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.hero .left-content .main-caption .caption-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .hero .left-content .main-caption .caption-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero .left-content .main-caption .caption-buttons .button-outer {
  margin-top: 0;
  margin-right: 40px;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .hero .left-content .main-caption .caption-buttons .button-outer {
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.animated-line {
  position: absolute;
  left: 0;
  bottom: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 80px;
  margin-left: 0;
}

.animated-line .sroll-text {
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  display: block;
  font-size: 12px;
  font-size: 0.75rem;
  color: #fff;
}

.animated-line .bar-wrapper {
  width: 1px;
  height: 20px;
  position: absolute;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.animated-line .bar-line,
.animated-line .bar-whitespace {
  height: 100%;
  width: 100%;
  position: absolute;
}

.animated-line .bar-whitespace {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  overflow: hidden;
  z-index: 1;
}

.animated-line .bar-line--up {
  -webkit-animation: slide-down 2s steps(100) infinite;
          animation: slide-down 2s steps(100) infinite;
}

.animated-line .bar-line {
  background-color: #fff;
  left: 0;
  top: 0;
}

.animated-line .bar-wrapper--up {
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

.verified .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .verified .caption {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.verified .caption .title-head {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .verified .caption .title-head {
    margin: auto;
  }
}

.verified .caption p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .verified .caption p {
    text-align: center;
  }
}

.verified .figure-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  height: 535px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .verified .figure-holder {
    height: 435px;
  }
}

@media (max-width: 767px) {
  .verified .figure-holder {
    height: 250px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 0;
  }
}

.verified .figure-holder img {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.become-an-expert {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .become-an-expert {
    background: url(../images/become-an-expert.png) no-repeat center center;
    background-size: cover;
    position: relative;
  }
  .become-an-expert::before {
    background: rgba(51, 153, 254, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
  }
}

.become-an-expert .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .become-an-expert .caption {
    color: #fff;
  }
}

.become-an-expert .caption .title-head {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .become-an-expert .caption .title-head h2 {
    color: #fff;
  }
}

.become-an-expert .caption .cards-holder {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 60px;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .become-an-expert .caption .cards-holder {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .become-an-expert .caption .cards-holder {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.become-an-expert .caption .cards-holder .custom-card {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.become-an-expert .caption .cards-holder .custom-card .icon-holder {
  width: 44px;
  height: 44px;
  background: #3399fe;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: block;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .become-an-expert .caption .cards-holder .custom-card .icon-holder {
    background: #2D2D2D;
  }
}

.become-an-expert .caption .cards-holder .custom-card .card-content {
  width: 80%;
}

.become-an-expert .caption .cards-holder .custom-card .card-content h4 {
  font-weight: 700;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  font-size: 30px;
  font-size: 1.875rem;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .become-an-expert .caption .cards-holder .custom-card .card-content h4 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .become-an-expert .caption .cards-holder .custom-card .card-content h4 {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.become-an-expert .caption .button-outer {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .become-an-expert .caption .button-outer {
    background: #fff;
    color: #3399fe;
  }
}

.become-an-expert .figure-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .become-an-expert .figure-holder {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    height: 250px;
    display: none;
  }
}

.become-an-expert .figure-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.discover {
  background: #3399fe;
  position: relative;
}

.discover::before {
  position: absolute;
  content: '';
  background: url(../images/pattern-discover.svg) no-repeat center bottom;
  right: 0;
  background-size: 100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .discover::before {
    background-size: 200%;
    opacity: 10;
  }
}

.discover .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: #fff;
  /*  @include breakpoint(sm) {
            align-items: center;
        } */
}

.discover .caption .title-head {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  margin-left: 0;
  /*  @include breakpoint(sm) {
                margin: auto;
            } */
}

.discover .caption ul {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .discover .caption ul {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

.discover .caption ul li {
  position: relative;
  color: #fff;
  counter-increment: itemcounter;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 30px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .discover .caption ul li {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.discover .caption ul li::before {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  content: counters(itemcounter, ".");
}

.discover .caption p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .discover .caption p {
    text-align: center;
  }
}

.discover .figure-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  height: 400px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .discover .figure-holder {
    height: 250px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 0;
  }
}

.discover .figure-holder img {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.world-class-experts {
  background: url(../images/world-class-expert-curve-pattern.png) no-repeat;
  background-size: 100%;
}

.world-class-experts .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.world-class-experts .content__figure-holder {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.world-class-experts .content__figure-holder img {
  width: 100%;
}

.world-class-experts .content__disc {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  text-align: center;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #2D2D2D;
}

/* h1 {
  @include font-size(70px);
}
h2 {
  @include font-size(60px);
}
h3 {
  @include font-size(40px);
}
h1 {
  @include font-size(30px);
}
h2 {
  @include font-size(20px);
}
h3 {
  @include font-size(10px);
} */
p {
  font-size: 20px;
  font-size: 1.25rem;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  p {
    font-size: 16px;
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  p {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

.wow {
  visibility: hidden;
}

/* Landscape phones and down */
@media (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .column-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .row-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

main {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  main {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.bg-white {
  background: #fff;
}

.bg-light-grey {
  background: rgba(0, 0, 0, 0.04) !important;
}

.text-bold {
  font-weight: 700;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #3399fe;
}

.text-blue {
  color: #FDFF11;
}

.nopadding {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.nomargin {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

section {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

section .title-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

section .title-head .main-title {
  color: #2D2D2D;
  font-size: 60px;
  font-size: 3.75rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-weight: 700;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  section .title-head .main-title {
    font-size: 50px;
    font-size: 3.125rem;
  }
}

@media (max-width: 767px) {
  section .title-head .main-title {
    font-size: 35px;
    font-size: 2.1875rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  section .title-head .main-title {
    font-size: 35px;
    font-size: 2.1875rem;
  }
}

section .title-head .sub-title {
  font-size: 20px;
  font-size: 1.25rem;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  section .title-head .sub-title {
    font-size: 16px;
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  section .title-head .sub-title {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  section .title-head .sub-title {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

#fp-nav ul li .fp-tooltip {
  background: #2D2D2D;
  color: #fff !important;
  font-size: 12px;
  top: -8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

#fp-nav ul li:last-child,
.fp-slidesNav ul li:last-child {
  display: none;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    background: rgba(0, 0, 0, 0.2);
  }
}

#fp-nav ul li a.active span {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  #fp-nav ul li a.active span {
    background: rgba(0, 0, 0, 0.9);
  }
}

#fp-nav.right {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  #fp-nav.right {
    right: 0 !important;
  }
}

.fp-scrollable {
  overflow: hidden;
  position: relative;
}

.fp-scroller {
  overflow: hidden;
}

.column-reverse {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/*# sourceMappingURL=style-en.css.map */