footer {
    background: $brand-color url(../images/footer-pattern.svg) no-repeat;
    background-position: -20px 0;
    background-size: 100%;
    padding: relative;

    .footer-left {
        display: flex;
        flex-direction: column;
        .footer-logo {
            @include margin(0, 0, 35px, 0);
            display: inline-block;
            img {
                width: 30%;
            }
        }
        .contact-info {
            @include margin(0, 0, 100px, 0);
            @include breakpoint(sm) {
                @include margin(0, 0, 30px, 0);
            }
            h3 {
                color: $white-color;
                @include margin(0, 0, 10px, 0);
                @include font-size(15px);
                text-transform: uppercase;
                letter-spacing: 5px;
            }
            a {
                color: $white-color;
                @include margin(0, 0, 50px, 0);
                @include font-size(22px);
                display: inline-block;
            }
            .phone-no {
                position: relative;
                color: $white-color;
                @include margin(0, 0, 30px, 0);
                @include font-size(15px);
                &::before {
                    width: 40px;
                    height: 1px;
                    background: $white-color;
                    content: "";
                    top: -20px;
                    position: absolute;
                }
            }
        }

        .footer-link {
            h3 {
                color: $white-color;
                @include margin(0, 0, 30px, 0);
                @include font-size(15px);
                position: relative;
                &::before {
                    width: 40px;
                    height: 1px;
                    background: $white-color;
                    content: "";
                    bottom: -20px;
                    position: absolute;
                }
            }

            .links-group {
                display: flex;
                z-index: 99;
                position: relative;

                .links-item {
                    @include margin(0, 30px, 0, 0);
                    .link {
                        @include font-size(14px);
                        color: $white-color;
                        position: relative;
                        &:hover {
                            color: $dark-grey-color;
                        }
                    }
                }
            }
        }
    }

    .footer-bg {
        position: absolute;
        bottom: 80px;
        width: 30%;
        @include breakpoint(sm) {
            bottom: 120px;
            width: 70%;
        }
        img {
            width: 100%;
        }
    }

    .follow-us {
        height: 100%;
        flex-direction: column;
        @include flex-center;
        z-index: 99;
        position: relative;

        h3 {
            color: $white-color;
            @include margin(0, 0, 0, 0);
            @include font-size(16px);
            @include transform(rotate(90deg));
            white-space: nowrap;
        }
        ul {
            flex-direction: column;
            @include flex-center;
            @include margin(80px, 0, 0, 0);
            li {
                @include margin(0, 0, 15px, 0);
                a {
                    color: $white-color;
                }
            }
        }
    }

    .footer-bottom {
        background: $dark-grey-color;
        position: absolute;
        width: 100%;
        height: 80px;
        bottom: 0;
        padding-top: 30px;

        @include breakpoint(sm) {
            height: 120px;
        }
        .copyright-text {
            @include font-size(14px);
            color: $white-color;
            @include breakpoint(sm) {
                @include margin(0, 0, 10px, 0);
                text-align: center;
            }
        }
        .links {
            display: flex;
            justify-content: flex-end;
            @include breakpoint(sm) {
                justify-content: center;
            }
            li {
                @include margin(0, 10px, 0, 0);
                a {
                    @include font-size(14px);
                    color: $white-color;
                }
            }
        }
    }
}

.scrollup {
    width: 50px;
    height: 50px;
    @include border-radius(50px);
    bottom: 40px;
    right: 40px;
    background: $brand-color;
    color: $white-color;
    text-align: center;
    line-height: 50px;
    display: block;

    @include breakpoint(sm) {
        right: 20px;
    }

    span {
        &.top-arrow {
            display: block;
            position: relative;
            top: 0px;
            margin: 5px auto 0;
        }
        .bi {
            @include font-size(24px);
        }
    }

    &:hover {
        background: $brand-second-color;
        span {
            &.top-arrow {
                -webkit-animation: arrowMove 0.8s linear infinite;
            }
        }
    }
}

@keyframes arrowMove {
    0% {
        top: 0%;
    }
    50% {
        top: -10px;
    }
    100% {
        top: 0%;
    }
}
