header {
    nav {
        &.navbar {
            width: 100%;
            @include padding(40px, 100px, 30px, 100px);

            @include breakpoint(sm) {
                @include padding(20px, 0, 0, 0);
            }
            @include breakpoint(md) {
                @include padding(20px, 0, 20px, 0);
            }
        }

        .navbar-nav {
            @include flex-center-vert;
            @include margin(0, 0, 0, 0);

            @include breakpoint(sm) {
                flex-direction: column;
            }
            @include breakpoint(md) {
                flex-direction: column;
            }
            .nav-item {
                &:nth-of-type(3) {
                    margin-left: auto;
                }
            }
            .nav-link {
                @include font-size(20px);
                text-transform: capitalize;
                color: $white-color !important;
                padding: 0 0 0 0 !important;
                position: relative;
                @include margin(0, 40px, 0, 0);
                position: relative;
                @include transition;
                &::before {
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    width: 0;
                    height: 2px;
                    background: $black-color;
                    @include transition;
                    content: "";
                }
                @include breakpoint(lp) {
                    @include font-size(16px);
                }

                &:hover {
                    color: $black-color !important;
                    &::before {
                        width: 15px;
                    }
                }
            }
        }
        @include breakpoint(sm) {
            .navbar-collapse {
                background: $white-color;
                @include padding(30px, 30px, 0, 30px);
                @include border-radius(5px);
                position: relative;
                margin-top: 20px;
                &:before {
                    bottom: 100%;
                    right: 5%;
                    border: solid transparent;
                    content: "";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(255, 255, 255, 0);
                    border-bottom-color: #ffffff;
                    border-width: 8px;
                    margin-left: -8px;
                }
                .nav-link {
                    @include margin(0, 0, 30px, 0);
                    color: $black-color !important;
                    &:nth-of-type(2) {
                        @include margin(0, 0, 0, 0);
                    }
                }
            }
            .header-right {
                position: absolute;
                right: 70px;
                top: 30px;
                display: flex;
                flex-direction: row;
                .nav-link{
                    @include margin(0, 0, 0, 20px);
                    @include font-size(14px);
                }
            }
        }
        @include breakpoint(md) {
            .navbar-collapse {
                background: $white-color;
                @include padding(30px, 30px, 30px, 30px);
                @include border-radius(5px);
                position: relative;
                margin-top: 20px;
                &:before {
                    bottom: 100%;
                    right: 2%;
                    border: solid transparent;
                    content: "";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(255, 255, 255, 0);
                    border-bottom-color: #ffffff;
                    border-width: 8px;
                    margin-left: -8px;
                }
            }
        }
    }

    .logo {
        background: url("../images/logo.png") no-repeat;
        width: 201px;
        height: 75px;
        display: inline-flex;
        background-size: 201px 75px;
        align-items: center;
        white-space: nowrap;
        @include padding(0, 0, 0, 0);
        @include transition;
        @include margin(0, 140px, 0, 0);

        @include breakpoint(lp) {
            width: 101px;
            height: 37px;
            background-size: 101px 37px;
        }

        @include breakpoint(sm) {
            width: 101px;
            height: 37px;
            background-size: 101px 37px;
        }
    }
}

.icon-bar {
    width: 26px;
    height: 3px;
    @include border-radius(50px);
    background-color: $white-color;
    display: block;
    @include transition;
    margin-top: 4px;
}
.navbar-toggler {
    border: none;
    background: transparent !important;
    position: absolute;
    right: 25px;
    top: 30px;
    @include padding(0, 0, 0, 0);

    @include breakpoint(md) {
        right: 42px;
    }
    &:focus {
        background: none;
        box-shadow: none;
    }
    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }
    .middle-bar {
        opacity: 0;
    }
    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }
    &.collapsed {
        .top-bar {
            transform: rotate(0);
        }
        .middle-bar {
            opacity: 1;
        }
        .bottom-bar {
            transform: rotate(0);
        }
    }
}
