<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
  <link rel="stylesheet" type="text/css" href="css/fullPage.min.css" />


</head>

<body>
  <div id="fullpage">
    <div class="section">
      <div class="container">
        <p>test2</p>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>

        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>
        <p>test1</p>

      </div>
    </div>
    <div class="section">
      <div class="container">
        <p>test2</p>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <p>test2</p>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <p>test2</p>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <p>test3</p>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    <!-- This following line is only necessary in the case of using the plugin option `scrollOverflow:true` -->


    <script type="text/javascript" src="js/fullPage.js"></script>


    <script type="text/javascript">
      var myFullpage = new fullpage('#fullpage', {
        anchors: ['firstPage', 'secondPage', '3rdPage', '4thPage'],
        sectionsColor: ['#4A6FB1', '#939FAA', '#323539'],
        scrollOverflow: true,

      });
    </script>



</body>

</html>