.button-outer {
  @include padding(17px, 50px, 17px, 50px);
  @include font-size(18px);
  color: $black-color;
  @include border-radius(4px);
  @include transition();
  text-align: center;
  max-width: 250px;
  display: inline-block;
  text-transform: capitalize;

  @include breakpoint(lp) {
    @include padding(12px, 40px, 12px, 40px);
    @include font-size(16px);
  }
  @include breakpoint(sm) {
    @include padding(12px, 30px, 12px, 30px);
    @include font-size(16px);
  }

  /* &:hover {
    @include button-hover();
  } */
}

.button--blue {
  @include background-transition($brand-color, $dark-grey-color);
  color: $white-color;
  &:hover {
    color: $white-color;
  }
}
.button--white {
  @include background-transition($white-color, $dark-grey-color);
  color: $brand-color;
  &:hover {
    color: $white-color;
  }
}