
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: local("Open Sans Regular"), local("Open Sans Regular"),
        url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}



 