.become-an-expert {
    @include breakpoint(sm) {
        background: url(../images/become-an-expert.png) no-repeat center center;
        background-size: cover;
        position: relative;
        &::before {
            background: rgba($brand-color, 0.9);
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            top: 0;
        }
    }

    .caption {
        @include flex-center-horiz;
        flex-direction: column;
        height: 100%;

        @include breakpoint(sm) {
            color: $white-color;
        }

        .title-head {
            align-items: flex-start;
            text-align: left;
            margin-left: 0;

            @include breakpoint(sm) {
                h2 {
                    color: $white-color;
                }
            }
        }
        .cards-holder {
            @include margin(0, 0, 60px, 0);

            @include breakpoint(lp) {
                @include margin(0, 0, 30px, 0);
            }
            @include breakpoint(sm) {
                @include margin(0, 0, 0, 0);
            }

            .custom-card {
                @include margin(0, 0, 30px, 0);
                border: 0;
                display: flex;

                .icon-holder {
                    width: 44px;
                    height: 44px;
                    background: $brand-color;
                    @include border-radius(50%);
                    display: block;
                    @include margin(0, 20px, 0, 0);
                    @include breakpoint(sm) {
                        background: $dark-grey-color;
                    }
                }
                .card-content {
                    width: 80%;
                    h4 {
                        font-weight: 700;
                        @include margin(0, 0, 5px, 0);
                        @include font-size(30px);
                        @include breakpoint(lp) {
                            @include font-size(24px);
                        }
                        @include breakpoint(sm) {
                            @include font-size(20px);
                        }
                    }
                }
            }
        }
        .button-outer{
            @include breakpoint(sm) {
                background: $white-color;
                color: $brand-color;
            }
        }
    }
    .figure-holder {
        @include flex-center;
        @include breakpoint(sm) {
            @include margin(0, 0, 10px, 0);
            height: 250px;
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
}
