.categories {
  background: url(../images/categories-bg.png);
  background-size: cover;
  position: relative;
  .inner {
    top: 0;
    z-index: 9;
  }
  .nav-tabs {
    border: 0;
    @include margin(0, 0, 50px, 0);
    @include flex-center;

    @include breakpoint(lp) {
      @include margin(0, 0, 30px, 0);
    }
    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }
    .nav-link {
      position: relative;
      background: none;
      border: 0;
      @include border-radius(4px);
      @include margin(0, 15px, 0, 0);
      @include padding(5px, 20px, 5px, 20px);
      color: $dark-grey-color;
      @include font-size(18px);

      @include breakpoint(sm) {
        @include font-size(14px);
        @include margin(0, 10px, 0, 0);
        @include padding(5px, 10px, 5px, 10px);
      }

      &::before {
        @include border-radius(50%);
        height: 4px;
        width: 4px;
        content: "";
        position: absolute;
        left: 5px;
        top: 15px;
        background: $dark-grey-color;
        @include breakpoint(sm) {
          left: 0;
        }
      }
      &:hover {
        color: $brand-color;
        &::before {
          background: $brand-color;
        }
      }
      &.active {
        background: #8496a8;
        color: $white-color;
        &::before {
          background: none;
        }
      }
    }
  }
  .tab-content {
    .categories-group {
      @include margin(0, 0, 50px, 0);
      @include flex-center;
      flex-wrap: wrap;

      @include breakpoint(lp) {
        @include margin(0, 0, 20px, 0);
      }
      @include breakpoint(sm) {
        @include margin(0, 0, 20px, 0);
      }

      &__item {
        @include margin(0, 10px, 30px, 0);

        @include breakpoint(lp) {
          @include margin(0, 10px, 20px, 0);
        }
        @include breakpoint(sm) {
          @include margin(0, 10px, 10px, 0);
        }
      }
      &__link {
        display: block;
        @include border-radius(50px);
        border: 1px solid $dark-grey-color;
        color: $dark-grey-color;
        @include padding(10px, 40px, 10px, 40px);
        @include transition();
        text-transform: capitalize;

        @include breakpoint(sm) {
          @include padding(10px, 20px, 10px, 20px);
          @include font-size(13px);
        }
        &:hover {
          background: $brand-color;
          border: 1px solid $brand-color;
          color: $white-color;
        }
      }
    }
  }
}

#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.inner-content {
  // position: absolute;
  z-index: 4;
  width: 100%;
  height: 20%;
  padding: 300px 100px;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  p {
    font-size: 36px;
    color: #262626;
    font-weight: bold;
    text-align: center;
    &.highlighted {
      color: #fff;
    }
  }
}
