.discover {
    background: $brand-color;
    position: relative;
    &::before{
        position: absolute;
        content: '';
        background: url(../images/pattern-discover.svg) no-repeat center bottom;
        right: 0;
        background-size: 100%;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        @include breakpoint(sm){
            background-size: 200%;
            opacity: 10;
        }
    }

    .caption {
        @include flex-center-horiz;
        flex-direction: column;
        height: 100%;
        color: $white-color;
       /*  @include breakpoint(sm) {
            align-items: center;
        } */
        .title-head {
            align-items: flex-start;
            text-align: left;
            margin-left: 0;
           /*  @include breakpoint(sm) {
                margin: auto;
            } */
        }
        ul {
            @include margin(0, 0, 50px, 0);

            @include breakpoint(sm) {
                @include margin(0, 0, 30px, 0);
            }
            li {
                position: relative;
                color: $white-color;
                counter-increment: itemcounter;
                @include padding(0, 0, 0, 30px);
                @include breakpoint(sm) {
                    @include font-size(14px);
                }
                &::before {
                    color: $white-color;
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: counters(itemcounter, ".");
                }
            }
        }
        p {
            @include margin(0, 0, 50px, 0);

            @include breakpoint(sm) {
                text-align: center;
            }
        }
    }
    .figure-holder {
        @include flex-center;
        @include border-radius(30px);
        height: 400px;

        @include breakpoint(sm) {
            height: 250px;
            @include margin(0, 0, 40px, 0);
        }

        img {
            @include border-radius(30px);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
