.faqs {
    .accordion {
        @include margin(0, 0, 20px, 0);
        .accordion-item {
            @include margin(0, 0, 10px, 0);
            background: none;
            border: 0;
            .accordion-button {
                @include font-size(24px);
                @include padding(25px, 25px, 25px, 25px);
                @include border-radius(10px 10px 0 0);
                border: 1px solid $brand-color;
                font-weight: 700;
                border-bottom: 0;
                box-shadow: none;
                background: none;
                @include breakpoint(lp) {
                    @include padding(15px, 25px, 15px, 25px);
                    @include font-size(20px);
                }
                @include breakpoint(sm) {
                    @include padding(15px, 25px, 15px, 25px);
                    @include font-size(16px);
                }
                /* &:focus {
                    box-shadow: none;
                    border: 0;
                } */

                &:after {
                    background: url(../images/plus-lg.svg) no-repeat;
                    background-size: 25px 25px;
                    width: 25px;
                    height: 25px;
                }
                &.collapsed {
                    border: 1px solid $black-color;
                    @include border-radius(10px);
                }
            }
            .accordion-collapse {
                @include border-radius(0 0 10px 10px);
                border: 1px solid $brand-color;
                border-top: 0;
            }
            .accordion-body {
                @include padding(0, 25px, 25px, 25px);
                p {
                    @include margin(0, 0, 10px, 0);
                    @include breakpoint(sm) {
                        @include font-size(14px);
                    }
                }
                ul {
                    li {
                        @include margin(0, 0, 10px, 0);
                        @include padding(0, 0, 0, 30px);
                        position: relative;
                        color: $dark-grey-color;
                        counter-increment: itemcounter;
                        @include breakpoint(sm) {
                            @include font-size(14px);
                        }
                        &::before {
                            color: $dark-grey-color;
                            position: absolute;
                            top: 0;
                            left: 0;
                            content: counters(itemcounter, ".");
                        }
                    }
                }
            }
        }
    }
    .see-more-link{
        color: $brand-color;
        text-align: center;
        display: block;
        text-decoration: underline !important;
        &:hover{
            text-decoration: none;
        }

    }
}

.accordion-button:not(.collapsed)::after {
    background: url(../images/dash-lg.svg) no-repeat !important;
    background-size: 25px 25px !important;
    width: 25px !important;
    height: 25px !important;
    transform: rotate(0) !important;
}
.accordion-button:not(.collapsed) {
    color: $brand-color;
    &:after {
        background: url(../images/dash-lg-active.svg) no-repeat !important;
        background-size: 25px 25px !important;
        width: 25px !important;
        height: 25px !important;
    }
}
