.verified {
    .caption {
        @include flex-center-horiz;
        flex-direction: column;
        height: 100%;
        @include breakpoint(sm) {
            align-items: center;
        }
        .title-head {
            align-items: flex-start;
            text-align: left;
            margin-left: 0;
            @include breakpoint(sm) {
                margin: auto;
            }
        }
        p {
            @include margin(0, 0, 50px, 0);
            @include breakpoint(sm) {
                text-align: center;
            }
        }
    }
    .figure-holder {
        @include flex-center;
        @include border-radius(30px);
        height: 535px;
        @include breakpoint(lp) {
            height: 435px;
        }
        @include breakpoint(sm) {
            height: 250px;
            @include margin(0, 0, 40px, 0);
        }
        img {
            @include border-radius(30px);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
}
