.hero {
    background: url(../images/hero-banner.png) center center;
    background-size: cover;

    @include breakpoint(sm) {
        background-position: bottom center;
    }

    .left-content {
        background: rgba($brand-color, 0.9);
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        @include padding(50px, 50px, 0, 100px);

        @include breakpoint(sm) {
            width: 100%;
            height: 60%;
            @include padding(0, 20px, 50px, 20px);
        }

        .main-caption {
            color: $white-color;
            @include flex-center-horiz;
            flex-direction: column;
            height: 100%;

            @include breakpoint(sm) {
                justify-content: flex-end;

            }
            small {
                @include font-size(20px);
                @include margin(0, 0, 10px, 0);
            }
            h1 {
                font-weight: 700;
                @include font-size(72px);
                @include margin(0, 0, 10px, 0);

                @include breakpoint(lp) {
                    @include font-size(50px);
                }

                @include breakpoint(sm) {
                    @include font-size(28px);
                }
                @include breakpoint(md) {
                    @include font-size(32px);
                }
            }
            p {
                @include font-size(20px);
                @include margin(0, 0, 50px, 0);

                @include breakpoint(lp) {
                    @include font-size(22px);
                }

                @include breakpoint(sm) {
                    @include font-size(18px);
                }
                @include breakpoint(md) {
                    @include font-size(18px);
                }
            }
            .caption-buttons {
                display: flex;
                @include breakpoint(sm) {
                    flex-direction: column;
                }
                .button-outer {
                    @include margin(0, 40px, 0, 0);
                    @include breakpoint(sm) {
                        @include margin(0, 30px, 0, 0);
                    }
                }
            }
        }
    }
}

.animated-line {
    position: absolute;
    left: 0;
    bottom: 20px;
    @include margin(0, 0, 80px, 0);
    .sroll-text {
        text-transform: uppercase;
        @include transform(rotate(90deg));
        display: block;
        @include font-size(12px);
        color: $white-color;
    }

    .bar-wrapper {
        width: 1px;
        height: 20px;
        position: absolute;
        @include margin(0, 0, 0, 0);
    }
    .bar-line,
    .bar-whitespace {
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .bar-whitespace {
        @include margin(0, auto, 0, auto);
        overflow: hidden;
        z-index: 1;
    }
    .bar-line--up {
        animation: slide-down 2s steps(100) infinite;
    }
    .bar-line {
        background-color: $white-color;
        left: 0;
        top: 0;
    }
    .bar-wrapper--up {
        top: 60px;
        left: 50%;
        @include transform(translateX(-50%));
    }
}
@keyframes slide-down {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}
