.info-cards {
    overflow: hidden;
    .custom-card {
        overflow: hidden;
        @include border-radius(20px);
        @include transition;
        @include padding(30px, 30px, 30px, 30px);
        @include flex-center;
        flex-direction: column;
        @include margin(30px, 30px, 30px, 30px);

        @include breakpoint(sm) {
            @include margin(0, 0, 30px, 0);
        }

        &__figure-holder {
            background: #e8eaff;
            width: 198px;
            height: 198px;
            @include margin(0, 0, 35px, 0);
            @include padding(10px, 10px, 10px, 10px);
            @include flex-center;
            @include border-radius(40px);

            img {
                height: 100%;
                object-fit: cover;
            }
        }
        .caption {
            text-align: center;
            border: 0;
            &__title {
                color: $dark-grey-color;
                @include font-size(18px);
                font-weight: 700;
                @include margin(0, 0, 20px, 0);
            }
            &__detail {
                font-size: 20px;
                @include breakpoint(lp) {
                    font-size: 16px;
                }
                @include breakpoint(sm) {
                    font-size: 16px;
                }
            }
        }

        &:hover {
            @include card-hover;
            @include breakpoint(sm) {
                box-shadow: none;
            }
        }
    }
}
