.newsletter {
    .title-head {
        .sub-title {
            @include font-size(60px);
            @include margin(0, 0, 40px, 0);
            font-weight: 700;
            color: $brand-color;

            @include breakpoint(lp) {
                @include font-size(40px);
            }
            @include breakpoint(sm) {
                @include font-size(25px);
            }
        }
    }
    label {
        font-weight: 700;
        @include margin(0, 0, 10px, 0);
    }
    .form-control {
        border: 1px solid $dark-grey-color;
        @include border-radius(4px);
        height: 60px;
        box-shadow: none;
        @include transition;

        @include breakpoint(lp) {
            height: 48px;
        }
        @include breakpoint(sm) {
            @include margin(0, 0, 20px, 0);
        }

        &:focus {
            box-shadow: none;
            border: 1px solid $brand-color;
            @include input-hover;
        }
    }
    .button-outer{
        @include breakpoint(sm) {
            max-width: 100% !important;
        }
    }
}
