.why-us {
    background: #fafafa url(../images/pattern-why-clouyou.svg) no-repeat right bottom;
    background-size: 80%;
    position: relative;
    @include breakpoint(sm) {
        background-size: 100%;
    }
    .caption {
        @include flex-center-horiz;
        flex-direction: column;
        height: 100%;

        .title-head {
            align-items: flex-start;
            text-align: left;
            margin-left: 0;
            position: relative;
            &::before {
                position: absolute;
                top: -150px;
                content: "";
                background: url(../images/quote-icon.svg) no-repeat;
                left: -100px;
                width: 138px;
                height: 111px;
                @include breakpoint(sm) {
                    left: 9px;
                    top: -95px;
                    background-size: 70%;
                    background: none;
                }
            }
        }
        p{
            @include margin(0, 0, 10px, 0); 
        }
    }
    .figure-holder {
        @include flex-center;
        @include breakpoint(sm){
            height: 200px;
            @include margin(0, 0, 20px, 0);
        }
       /*  @include breakpoint(sm) {
            @include margin(0, 0, 0, 0);
            height: 200px;
            width: 200px;
            right: 20px;
            position: absolute;
            top: -200px;
            z-index: -1;
        } */
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
}
