.world-class-experts {
    background: url(../images/world-class-expert-curve-pattern.png) no-repeat;
    background-size: 100%;
    .content{
        @include flex-center;
        flex-direction: column;
        &__figure-holder{
            @include margin(0, 0, 30px, 0);
            img{
                width: 100%;
            }
        }
        &__disc{
            @include margin(0, 0, 50px, 0);
            text-align: center;
        }
    }
}
